*{
  font-family: 'Lato', sans-serif;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #303338;
}
a {
  color: #25AB50;
}
.flex {
  display: flex;
}
.flex-right {
  justify-content: flex-end;
}
.text-basic {
  color: #303338 !important;
}
.text-primary {
  color: #25AB50 !important;
}
.color-primary {
  background-color: #25AB50 !important;
}
.text-blue {
  color: #0E3A96 !important;
}
.color-blue {
  background-color: #0E3A96 !important;
}
.text-teal {
  color: #10B4BB !important;
}
.color-teal {
  background-color: #10B4BB !important;
}
.text-red {
  color: #FA3200 !important;
}
.color-red {
  background-color: #FA3200 !important;
}
.text-yellow {
  color: #FFBD3E !important;
}
.color-yellow {
  background-color: #FFBD3E !important;
}
.text-muted {
  color: #7C848B !important;
}
.color-muted {
  background-color: #7C848B !important;
}
.container{
  width: 85%;
}
.border-right-light{
  border-right: solid 1px rgba(0,0,0,0.22);
}
.no-margin{
  margin: 0;
}
.no-margin-bottom{
  margin-bottom: 0;
}
.no-margin-top{
  margin-top: 0;
}